
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Merriweather', serif;
  /* background-color: white; */
}
.txt {
  text-decoration: none;
}
.navbar-nav Link {
  font-size : 18px;
}

